body{ margin: 0; font-family: Arial; font-size: 13px  }
body{ overflow-y: scroll }

ul{ margin: 10px 0; }

body>div{ width: 980px; margin: 0 auto; }

#sidebar{ position: fixed; left: 50%; margin-left: 220px;
	overflow-y: scroll; top: 111px; bottom: 0; padding-top: 0; width: 270px;
	border-left: 2px solid #ddd; background: white;
}	
#content{ padding-right: 0;}

#sidebar li, #sidebar ul{ list-style: none; display: block; margin: 0; padding: 0 }

.entries{ margin-right: 290px; padding-top: 110px }
#header{ position: fixed; height: 110px; width: 980px;
	background: white; border-bottom: 1px solid #ddd;
	z-index: 9999; }


#sidebar a{ text-decoration: none; color: #555;
	display: block; border-bottom: 1px solid #eee; padding: 2px 0 2px 10px; }
#sidebar a.selected{ background: #ddd; color: black; text-shadow: 0 1px 1px #eee }

 table{ border-collapse:collapse; }                    
 th, td{ text-align: left; padding: 2px 10px; border: solid 1px #ccc }


pre code{
	-moz-border-radius:5px; border-radiu: 5px; -webkit-border-radius: 5px; 
	padding:4px;
	text-shadow:0 1px 0 #000000;
	font-size: 11px;
	box-shadow: inset 0 1px 3px #333; 
	-webkit-box-shadow: inset 0 1px 3px #333; 
	-moz-box-shadow:inset  0 1px 3px #333; 
}
div.item{ float: left; width: 345px; }
div.item{ width: 340px;}
pre .comment, pre .java .annotation, pre .python .decorator, pre .template_comment, 
			pre .pi, pre .doctype, pre .deletion, pre .shebang, pre .apache .sqbracket, 
			pre .tex .formula{
	color:#dd6 !important; }

h3 a{ 
	position: relative; top: -10px;
	display: inline-block; width: 10px;
	height: 10px; background: white; border: none; text-decoration: none }

h5{ margin: 5px 0 0 0; }


.entry ul, .entry table, .entry h2, .entry h3, .entry h4, .entry h5{ margin-top: 5px; margin-bottom: 5px; }

.entry>p,.entry>div,.entry>pre,.entry>code{ margin-right: 10px }
.entry>div.item{ margin-right:0 }
.class{ font-weight: bold; padding-top: 20px !important }
.entry{ padding-bottom: 10px; overflow: hidden  }
.no-js .entry{ border-bottom: 1px solid #ccc; }

